@import './variable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    width: 200px;
    height: 200px;
}

html {
    scroll-behavior: smooth;
}


// ABOUT SECTION
.about_container {
    padding-top: 80px;
    width: 100%;
    height: 100%;
    background: #0C0C0C;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .about_title {
        font-size: 68px;
        font-family: $myFont;
        font-weight: 500;
        color: #FAFAFA;
        margin: 10px 0;
    }

    .about_dash {
        display: flex;
        flex-direction: column;
    }

    .about_content {
        padding: 30px 0;
        width: 1000px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .about_subtitle {
            font-size: 20px;
            font-weight: 400;
            color: #bfbfbf;
        }

        .about_para {
            font-size: 20px;
            font-weight: 400px;
            color: #bababa;
        }

        .about_subpara {
            margin-top: 10px;
            font-size: 20px;
            font-weight: 400;
            color: #bfbfbf;
        }

        .about_learning {
            margin-top: 10px;
            font-size: 20px;
            font-weight: 400;
            color: #bfbfbf;
        }
    }

    .skill_content {
        width: 70%;

        .skill_title {
            padding-bottom: 30px;
            font-size: 35px;
            font-weight: 500;
            color: #FAFAFA;
            font-family: $myFont;
            text-align: center;
        }

        .skill_grid {
            display: grid;
            place-items: center;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;

            .skill {
                padding: 15px;
                width: 120px;
                height: 120pcx;
                border-radius: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                &:nth-child(1) {
                    background: linear-gradient(-0.10deg, #0b0b0b 35%, rgb(228, 77, 38) 100%);
                    border-bottom: 1px solid #E44D26;
                    border-left: 1px solid #E44D26;
                    border-right: 1px solid #E44D26;
                }

                &:nth-child(2) {
                    background: linear-gradient(-0.10deg, #0b0b0b 35%, rgb(55, 154, 214) 100%);
                    border-bottom: 1px solid #379AD6;
                    border-left: 1px solid #379AD6;
                    border-right: 1px solid #379AD6;
                }

                &:nth-child(3) {
                    background: linear-gradient(-0.10deg, #0b0b0b 35%, rgb(237, 199, 30) 100%);
                    border-bottom: 1px solid #EDC71E;
                    border-left: 1px solid #EDC71E;
                    border-right: 1px solid #EDC71E;

                    img {
                        border-radius: 40px;
                    }

                }

                &:nth-child(4) {
                    background: linear-gradient(-0.10deg, #0b0b0b 35%, rgb(233, 141, 184) 100%);
                    border-bottom: 1px solid #E98DB8;
                    border-left: 1px solid #E98DB8;
                    border-right: 1px solid #E98DB8;
                }

                &:nth-child(5) {
                    background: linear-gradient(-0.10deg, #0b0b0b 35%, rgb(240, 80, 51)100%);
                    border-bottom: 1px solid #F05033;
                    border-left: 1px solid #F05033;
                    border-right: 1px solid #F05033;
                }
            }

            .center_item {
                grid-column: span 2;
                text-align: center;
            }
        }
    }
}