@import './variable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

// CONTACT SECTION
.contact_container {
    width: 100%;
    height: 100%;
    padding: 40px 0;
    background: #0C0C0C;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact_title {
        font-size: 68px;
        font-weight: 500;
        font-family: $myFont;
        color: #FAFAFA;
        cursor: text;
    }

    .contact_svg {
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .contact_subtitle {
        margin-top: 15px;
        font-size: 21px;
        font-weight: 400;
        font-family: $myFont;
        color: #FAFAFA;
    }

    .contact_content {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        gap: 50px;

        .contact_form {

            form {
                width: 500px;
                display: flex;
                gap: 15px;
                flex-direction: column;

                input {
                    padding: 20px 20px;
                    background: linear-gradient(10deg, #0C0C0C 35%, #8FFBFB 100%);
                    border: 1px solid #8FFBFB;
                    border-radius: 20px;
                    color: #0C0C0C;
                    outline: none;
                    font-size: 17px;
                    font-weight: 500;
                    font-family: $myFont;
                }

                textarea {
                    width: 100%;
                    height: 120px;
                    padding: 15px 20px;
                    background: linear-gradient(10deg, #0C0C0C 35%, #8FFBFB 100%);
                    border: 1px solid #80B5FF;
                    resize: none;
                    border-radius: 20px;
                    font-size: 17px;
                    font-weight: 500;
                    font-family: $myFont;
                }
            }

            .form_btn a {
                padding: 15px;
                margin-top: 20px;
                display: inline-flex;
                background: linear-gradient(40deg, #0C0C0C 35%, #8FFBFB 100%);
                border: 1px solid #80B5FF;
                border-radius: 20px;
                color: #8b8b8b;
                font-size: 17px;
                font-weight: 500;
                font-family: $myFont;
                transition: 0.5s ease-in-out;

                &:hover {
                    transform: translate(3px, 3px);
                    border-top-right-radius: 15px;
                    border-bottom-left-radius: 16px;
                }
            }
        }

        .contact_map {
            iframe {
                filter: invert(90%) hue-rotate(180deg);
                background: #000;
                border-radius: 20px;
            }
        }
    }



}