@import './variable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $myFont;
}

a {
    text-decoration: none;
}

//   HERO SECTION
@media screen and (max-width: 576px) {
    body {
        .hero_container {
            // min-width: 360px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;

            .header {
                display: none;

            }

            .header_small_screen {
                position: fixed;
                bottom: 20px;
                padding: 0 20px;
                width: 90%;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                background: linear-gradient(-0.1deg, #0C0C0C 35%, rgb(56, 54, 54) 100%);
                border-bottom: 1px solid rgb(56, 54, 54);
                border-right: 1px solid rgb(56, 54, 54);
                border-left: 1px solid rgb(56, 54, 54);
                border-radius: 90px;
                z-index: 99;

                .header_small_screen_menu_open {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;

                    img {
                        color: #FAFAFA;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

            }


            .header_small_screen_menu {
                padding: 15px;
                border-radius: 30px;
                position: fixed;
                bottom: 20px;
                width: 90%;
                height: 200px;
                list-style: none;
                z-index: 99999;
                background: linear-gradient(-0.1deg, #0C0C0C 35%, rgb(56, 54, 54) 100%);
                overflow-x: hidden;
                display: none;

                .small_menu {
                    width: 100%;
                    padding-top: 10px;
                    display: grid;
                    grid-gap: 20px;
                    place-items: center;
                    grid-template-columns: repeat(3, 1fr);

                    li {


                        img {
                            width: 20px;
                            height: 20px;
                            object-fit: contain;
                        }

                        a {
                            display: flex;
                            gap: 5px;
                            flex-direction: column;
                            align-items: center;
                            font-size: 16px;
                            letter-spacing: 1.5px;
                            color: #FAFAFA;
                            cursor: pointer;

                        }
                    }
                }

                .header_small_screen_close_menu_btn {
                    position: absolute;
                    top: 150px;
                    right: 10px;
                    font-size: 35px;
                    width: 40px;
                    cursor: pointer;
                }
            }

            .header_small_screen_menu_active {
                display: block;
            }


        }

        .custom_cursor {
            display: none;
        }
    }
}

// BANNER SECTION
@media screen and (max-width: 576px) {
    body {
        .banner_container {

            // min-width: 360px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-x: hidden;

            .banner_title {
                font-size: 18px;
            }

            .my_name {
                font-size: 40px;
            }

            .banner_content {
                width: 100%;
                height: 550px;
                position: static;
                display: flex;
                gap: 20px;
                flex-direction: column;
                // justify-content: space-between;

                .my_gmail {
                    position: static;
                }

                .swiper {
                    position: static;
                    // width: 100%;
                    width: 340px;
                    // min-width: 300px;
                    // min-height: 400px;
                    // height: 100%;
                    top: 50px;
                    left: 30px;
                    overflow: hidden;
                    border-radius: 250px;
                    transition: 0.4s ease-in-out;
                    cursor: pointer;

                }

                .social_link {
                    position: static;

                }
            }

        }
    }
}

// ABOUT SECTION
@media screen and (max-width: 576px) {
    body {
        .about_container {
            width: 100%;
            height: 100%;

            .about_title {
                font-size: 40px;
            }

            .about_content {
                width: 100%;
                padding: 20px;
            }

            .skill_content {
                padding: 0 20px;
                width: 100%;
                height: 100vh;
                display: flex;
                flex-direction: column;

                .skill_grid {
                    width: 100%;
                    height: 80%;

                    .skill {
                        padding: 0;
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 50px;
                            height: 50px;
                            object-fit: contain;
                        }
                    }
                }


                // .skill_list {
                //     width: 100%;
                //     padding: 0;
                //     margin-top: 10px;
                //     border: 2px solid crimson;

                //     .skill {
                //         min-width: 100%;
                //         border: 2px solid crimson;

                //         img {
                //             width: 50px;
                //             height: 50px;
                //         }

                //         p {
                //             width: 100%;
                //         }
                //     }
                // }
            }
        }
    }
}

// WORK SECTION
@media screen and (max-width: 576px) {
    body {
        .work_container {
            // min-width: 360px;
            width: 100%;
            overflow-x: hidden;


            .work_title_subtitle {
                .work_title {
                    font-size: 40px;
                }

                .work_svg {
                    svg {
                        width: 100px;
                    }
                }

                .work_subtitle {
                    padding: 20px;

                    width: 100%;
                    font-size: 20px;
                }



            }

            .work_content {
                padding: 0 20px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                .work {
                    width: 100%;
                    height: 100%;

                    .work_img {
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }


                    .work_img_title {
                        margin-top: 5px;
                        padding: 10px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

// CONTACT SECTION
@media screen and (max-width: 576px) {
    body {
        .contact_container {
            // min-width: 360px;
            width: 100%;
            overflow-x: hidden;


            .contact_title {
                font-size: 40px;
            }

            .contact_subtitle {
                width: 100%;
                text-align: center;
            }

            .contact_content {
                width: 100%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .contact_form {
                    width: 100%;

                    form {
                        width: 100%;

                        input {
                            width: 340px;
                            min-width: 100%;
                        }

                        textarea {
                            width: 340px;
                            min-width: 100%;
                        }
                    }

                    .form_btn {
                        width: 100%;
                    }
                }

                .contact_map {
                    padding: 0 10px;
                    width: 100%;

                    iframe {
                        width: 100%;
                    }
                }
            }
        }
    }
}